<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% include 'retriever/nav.html' %}
    <div class="container-fluid">
      <div class="jumbotron" style="margin-top: 20px">
        <form lass="form-inline" method="post">
          <div class="input-group form-group mb-3 col-auto">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-lg"
                >Query</span
              >
            </div>
            <input 
            type="text" 
            name="classify-term" 
            value="" 
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-lg"
            placeholder="Enter your query"/>
          </div>
          <div class="btn-pill col-auto mb-3">
            <input
              class="btn btn-primary"
              type="submit"
              value="Classification/Clustering"
              name="classify-cluster-button"
            />
          </div>
          {% csrf_token %}
        </form>
      </div>
    </div>
  </body>
</html>
