<!DOCTYPE html>
<html lang="pr" ang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Social classify</title>
  </head>
  <body>
    {% include 'retriever/nav.html' %}
    <div class="container-fluid">
      <div class="jumbotron" style="margin-top: 20px">
        <form class="" method="post">
          <p class="fs-1 text-justify text-danger" style="font-weight: bolder">
            Clustering:
          </p>
          <p class="fw-normal text-justify" style="text-indent: 3mm">
            purity score: 0.526
          </p>
          <p class="fw-normal text-justify" style="text-indent: 3mm">
            For 2 clusters Silhouette Coefficient is 0.001996642099103811
          </p>
          <p class="fw-normal text-justify" style="text-indent: 3mm">
            For 2 clusters average silhouette_score is : 0.0015220490809815933
          </p>
          <p class="fw-normal text-justify" style="text-indent: 3mm">
            RSS is 988.3598210168306
          </p>
          <img
            {% load static %}
            src="{% static 'retrieval/social_clustering.png' %}"
            style="width: 30%; height: 30%"
          />
          <p class="fs-1 text-justify text-danger" style="font-weight: bolder">
            Classification:
          </p>
          <p class="fw-normal text-justify" style="text-indent: 3mm">
            accuracy score: 0.7455
          </p>
          <p class="fw-normal text-justify" style="text-indent: 3mm">
            f1 score: 0.7453710941163965
          </p>
          <p class="fw-normal text-justify" style="text-indent: 3mm">
            precision score: 0.7546972860125261
          </p>
          <p class="fw-normal text-justify" style="text-indent: 3mm">
            recall score: 0.7251755265797393
          </p>
          {% csrf_token %}
        </form>
      </div>
    </div>
  </body>
</html>
