<!DOCTYPE html>
<html  lang="pr" ang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Graph</title>
  </head>
  <body>
    {% include 'retriever/nav.html' %}
    <div class="container-fluid">
      <div dir="rtl" class="jumbotron" style="margin-top: 20px">
        <form class="" style="text-align: right;" method="post">
          <p class="fs-1" style="font-weight: bolder;">مهمترین جمالت در هر دسته بندی: </p>
            <br>
          <p class="fw-normal text-justify text-danger">تغذیه :</p>
          <p class="fw-normal text-justify" style="text-indent: 3mm;">
            ویتامین E - توکوترینولز: ویتامین E یک جز مهم در بسیاری از محصولات
            مراقبت از پوست است، اما بیشتر ویتامین E مصنوعی است و واقعا هیچ کار
            خوبی انجام نمی دهد با این حال، ویتامین E در محصولات طبیعی برای پوست
            و موی شما مفید است، این نوع ویتامین E به عنوان a شناخته می شود و یک
            آنتی اکسیدان قوی است.
          </p>
          <p class="text-danger">تازه های پزشکی:</p>
          <p class="fw-normal text-justify" style="text-indent: 3mm;">
            راز هایی در مورد ویتامین ها و مکمل ها که پزشکان به دوستان خود می
            گویند به تازگی متخصصان ایده های جدیدی را درباره مصرف ویتامین ها
            ارائه داده اند و با استناد به آن ها متوجه می شویم که توصیه های آنان
            در مورد ویتامین نسبت به همیشه فرق می کند که حال در این قسمت از سلامت
            نمناک برخی از این کشفیات پزشکان را در مورد مصرف ویتامین را برای شما
            فاش خواهیم کرد.
          </p>
          <p class="text-danger">دندان پزشکی:</p>
          <p class="fw-normal text-justify" style="text-indent: 3mm;">
            رعایت نکردن بهداشت دندانی: و استفاده نامناسب از مسواک می تواند باعث
            تیره شدن رنگ دندان شود و علت آن این است که باکتری ها در این قسمت
            تجمع پیدا می کنند و باعث ایجاد حفره و تغییر رنگ در آن ها می شود و
            یکی از خطرناک ترین نتایج چنین حفره هایی این است که فرد ممکن است
            ناحیه ای از دندان را به کل از دست بدهد.
          </p>
          <p class="text-danger">پزشک خانواده:</p>
          <p class="fw-normal text-justify" style="text-indent: 3mm;">
            با این کار، علاوه بر اینکه حجم سبزی ها کم می شود و جای کمتری را هم
            در فریزر خواهند گرفت، عمل آنزیم بری (بلانچینگ) هم انجام می شود که
            مانع از تغییر رنگ سبزی ها و تیره شدن آن ها در فرایند انجماد خواهد
            شد.۴- حتما سبزی ها را در حجم کم و بسته های کوچک (یک وعده ای) منجمد
            کنید؛ مثلا اگر قرار است سبزی پلو را در ۴ وعده مصرف کنید، حتما آن را
            در ۴ کیسه بسته بندی یا در ۴ ظرف مختلف قرار دهید.
          </p>
          <p class="text-danger">روان پزشکی :</p>
          <p class="fw-normal text-justify" style="text-indent: 3mm;">
            علائم و نشانه های اختلال وسواس فکری و عملی OCD فقط به این دلیل که
            شما افکار وسواسی یا رفتارهای اجباری دارید، به این معنا نیست که
            اختلال وسواس فکری داریدبا داشتن OCD، این افکار و رفتارها موجب
            پریشانی های بزرگی در افراد می شوند، زمان زیادی را به خود اختصاص می
            دهند (حداقل یک ساعت در روز) و در زندگی روزمره و روابط شما دخالت می
            کنند اکثر افراد مبتلا به اختلال وسواس فکری، دارای جفت وسواس ها و
            اجبارها هستند، اما برخی از افراد مبتلا فقط یکی از آنها را تجربه می
            کنند.
          </p>
          <p class="text-danger">پوست و مو:</p>
          <p class="fw-normal text-justify" style="text-indent: 3mm;">
            مواد لازم: ۱ قاشق غذاخوری روغن آرگان ۲ قاشق غذاخوری جو دو سر ۱ قاشق
            چای خوری عسل طرز تهیه و طریقه استفاده: ابتدا جو دوسر را در آب گرم
            بخیسانید تا کاملا نرم شود و سپس روغن و عسل را به آن بیفزایید، به
            خوبی هم بزنید تا زمانی که ترکیبی یکدست حاصل شود و سپس ماسک به دست
            آمده را روی صورتتان اعمال کنید و بعد از حدود ۱۰ دقیقه با آب ولرم و
            سپس آب سرد شستشو دهید.
          </p>
          <p class="text-danger">پیشگیری و درمان:</p>
          <p class="fw-normal text-justify" style="text-indent: 3mm;">
            بالم مرطوب کننده لب مواد لازم: ۲ قطره روغن آرگان نصف قاشق چای خوری
            عصاره وانیل نصف قاشق چای خوری شکر قهوه ای طرز تهیه و طریقه استفاده:
            ابتدا تمام مواد را با یکدیگر مخلوط کنید و بعد به مدت ۲ تا ۳ دقیقه به
            آرامی روی لب هایتان ماساژ دهید تا به مرطوب کردن آن کمک کند. </p>
          </p>
        </form>
      </div>
    </div>
  </body>
</html>
