<nav>
  <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    
  <div class="container-fluid">
    <div style="margin-top: 20px">
      <form method="post">
        <div class=" text-center btn-group btn-pill col-md-12 mb-3">
          <input  class="btn btn-secondary" type="submit" name="search-tab" value="Search" />
          <input  class="btn btn-secondary" type="submit" name="classify-tab" value="Classify" />
          <input   class="btn btn-secondary" type="submit" name="link-analysis-tab" value="Link Analysis" />
        </div>
        {% csrf_token %}
      </form>
    </div>
  </div>
</nav>
