<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <li><a href="#search">Search</a></li>
      <li><a href="#classify">Classify</a></li>
      <li><a href="#link-analysis">Link Analysis</a></li>
    </nav>

    <section id="search">
      <label>
        <input type="checkbox" />
        <span></span> health / social
      </label>

      <input type="text" placeholder="Search.." title="take query" value="" />

      <label>
        <input type="checkbox" />
        <span></span> query expansion
      </label>

      <h4>Choose the method you want to search the query with:</h4>

      <!-- can be grid view -->
      <div>
        <button type="button" value="">Boolean</button>
        <button type="button" value="">tf-idf</button>
        <button type="button" value="">fasttext</button>
        <button type="button" value="">Transformer</button>
        <button type="button" value="">Elastic</button>
      </div>
    </section>
  </body>
</html>
