<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script id="replace_with_navbar" src="nav.js"></script>

    <form method="post">
      <input type="checkbox" name="subject-toggle" id="subject-toggle" />
      <input type="text" name="search-term" value="" />
      <input
        type="checkbox"
        name="subject-toggle"
        id="query-expansion-toggle"
      />
      <input
        type="submit"
        value="Boolean Search"
        name="boolean-search-button"
      />
      <input type="submit" value="TF-IDF Search" name="tfidf-search-button" />
      <input
        type="submit"
        value="Transformer Search"
        name="transformer-search-button"
      />
      <input
        type="submit"
        value="FastText Search"
        name="fasttext-search-button"
      />
      <input
        type="submit"
        value="Elastic Search"
        name="elastic-search-button"
      />
      {% csrf_token %}
    </form>
  </body>
</html>
